
.navbar{
    width: 100%;
    background-color: #ffffff;

}
.nav-item{
    background-color: #1c59a8;
    border-radius: 15%;
    padding: 0.25%;
    color: #ffffff;
    
}
h1  {
    margin: auto;
    width: max-content;
}
body {
    background-color: #202128;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.grid {
    display: flex;
    box-sizing: border-box;
    flex-flow: wrap;
}
.form {
    background-color: #202128;
    padding: 0%;
    width: 50%;
    margin: auto;
}
.inform{
    width: 50%;
    background-color: rgba(54, 54, 54, 0.185);
    border: solid rgb(82, 82, 82);
    padding: 5%;
    margin: 0px;
    color:#ffffff;
    font-size: x-large;
}
select {
    color: #9e9e9e8f;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.185);
    border: solid rgb(82,82,82);
    padding: 5%;
    margin: 0px;
    font-size: x-large;
}
div, main, body {
    scroll-behavior:smooth
}

.yellowfont {
    font-family: Raleway, sans-serif;
    color:  #1c59a8;
}
.whitefont {
    font-family: Raleway, sans-serif;
    color: white;
}
.redfont {
    font-family: Raleway, sans-serif;
    color: rgb(0, 0, 0);
    font-size: larger;
}

